bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs/
.DS_Store
*.user

src/Argon.Api/storage/

secrets.json

src/Argon.Api/Generated/

src/Argon.Api/localhost.pfx

deploy/docker/vault_tokens/

deploy/docker/argon_vault/

src/Argon.Contracts/Properties/launchSettings.json

src/Argon.Metrics/Properties/launchSettings.json
